<h1> Création de votre compte médecin </h1>
<span>Bonjour </span><span> Docteur {{ medecin.prenom}} </span><span>{{ medecin.nom}}, </span>
<h4>Votre compte sur le site hospitalier de Chambray Les Tours  a été créé. Voici vos identifiants de connexion : </h4>
<span style="color:blue">Email : </span><span style="font-weight:bold">{{ medecin.email}} </span><br/><br/>
<span style="color:green"> Mot de passe : </span><span style="color:green;font-weight:bold">{{password}} </span> <br/><br/>
<span>Veuillez cliquer sur ce lien pour vous connecter à  votre compte :</span><a href="http://127.0.0.1:8000/login">se connecter</a>
</body>
</html>      